<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/css/style.css" />

    <title>Todo - 할 일 목록</title>
  </head>
  <body>
    <!-- nav.html 첨부 -->
    <%- include('nav.html') %>
    <h1 class="ml-2 my-3 text-center">할 일 목록</h1>
    <div class="container">
      <ul id="post-list" class="list-group">
        <% for (var i = 0; i < posts.length; i++){ %>
        <li class="list-group-item">
          <div class="d-flex justify-content-between">
            <div>
              <h2 class="">
                <a href="detail/<%= posts[i]._id %>"><%= posts[i].제목 %></a>
              </h2>
              <p>마감일: <%= posts[i].날짜 %></p>
            </div>
            <button
              type="button"
              class="delete-btn btn btn-danger"
              data-id="<%= posts[i]._id %>"
            >
              삭제
            </button>
          </div>
        </li>
        <% } %>
      </ul>
    </div>

    <script type="module">
      import { ajax } from '/public/js/util/Fetcher.js';
      document
        .querySelector('#post-list')
        .addEventListener('click', async (e) => {
          if (e.target.className.indexOf('delete-btn') !== -1) {
            const 글번호 = e.target.dataset.id;
            const result = await ajax('/delete', 'DELETE', { _id: 글번호 });
            result.error
              ? alert(result.error)
              : e.target.parentElement.parentElement.remove();
          }
        });
    </script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
